/* navigation bar for all pages */

header {
    background-color: #4682b4;
    color: #ffffff;
    padding: 25px;
    margin: 0;
}

#navDiv {
    width: 960px;
    margin: auto;
}

#name {
    display: inline;
    background-color: #ffffff;
    padding: 25px;
    color: #4682b4;
    border: 1px solid #4682b4;
}

.navLinks {
    float: right;
}

.navLinks a:hover {
    border-bottom: 3px solid #c0c0c0;
}

.navLinks a.active {
    border-bottom: 3px solid #c0c0c0;
}

a {
    color: #ffffff;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
}

/* background image for all pages */

body {
    background-image: url("../images/full-bloom.png");
}

/* container for all pages*/

.h1 {
    color: #4682b4;
    padding-left: 20px;
}

hr {
    width: 920px;
}

.container {
    width: 960px;
    height: auto;
    margin: auto;
    background-color: #ffffff;
    border: 2px solid #4682b4;
}

/* about me content */

#profilePic {
    float: left;
    width: 250px;
    height: 300px;
    padding: 20px;
}

p {
    line-height: 200%;
    padding-right: 20px;
    padding-left: 20px;
}

/* footer for all pages */

#footer {
    height: 75px;
    width: 100%;
    background-color: #808080;
    color: #fff;
    border-top: 10px solid #4682b4;
    margin-top: 100px;
    text-align: center;
}

#copyright {
    padding-top: 35px;
    font-size: 13px;
}